<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div th:insert="~{parts/Navigation::navigation}"></div>
<h1>This is an index page</h1>
<form method="get" action="/books">
    <input name="login" type="text" placeholder="Enter login"/>
    <input name="email" type="email" placeholder="Enter email"/>
    <input type="submit" value="Show books"/>
</form>
<div th:insert="~{parts/footer::footer}"></div>
</body>
</html>